<div class="container">
  <header>
    <h3>Show Bid Details</h3>  
    <hr />

  <div class="form-group row"> 
    <div class="col-md-4">
      <label class=" control-label" for="productName">Select Product</label> 
     </div> 
    <div class="col-md-4"> 
     <select class="form-control" id="exampleCategory" [(ngModel)]="selectedCategory">
      <option>Select Category</option>
      <option *ngFor="let product of products" [ngValue]="product">{{product.ProductName}}</option>
     </select>
    </div> 
    <div class="col-md-4"> 
      <button class="btn" (click)="GetBidDtailsByID()">Get Details</button>
     </div> 
  </div> 
  
  <div *ngIf="isShowBidDetails">
    <div class="form-group row">   
      <div class="col-md-4"> 
       Product Name : 
      </div> 
      <div class="col-md-2"> 
        <input class="form-control" type="text" value=" {{bidDetails.ProductName}}" disabled>
       </div> 
    </div> 
    <div class="form-group row">   
      <div class="col-md-4"> 
       Short Description : 
      </div> 
      <div class="col-md-4"> 
        <input class="form-control" type="text" value=" {{bidDetails.ShortDescription}}" disabled>
       </div> 
    </div> 
    
    <div class="form-group row">   
      <div class="col-md-4"> 
       Detail Descriprion: 
      </div> 
      <div class="col-md-4"> 
        <input class="form-control" type="text" value="{{bidDetails.DetailDescription}}" disabled>
       </div> 
    </div> 
    <div class="form-group row">   
      <div class="col-md-4"> 
       Category : 
      </div> 
      <div class="col-md-4"> 
        <input class="form-control" type="text" value="{{bidDetails.Category}}" disabled>
       </div> 
    </div> 
    <div class="form-group row">   
      <div class="col-md-4"> 
       Starting Price Descriprion: 
      </div> 
      <div class="col-md-4"> 
        <input class="form-control" type="text" value="{{bidDetails.StartingPrice}}" disabled>
       </div> 
    </div> 
    <div class="form-group row">   
      <div class="col-md-4"> 
       Bid End Date:
      </div> 
      <div class="col-md-4"> 
        <input class="form-control" type="text" value="{{bidDetails.BidEndDate | date:'dd/MM/YYYY'}}" disabled>
       </div> 
    </div> 
    <hr/>
    <div style="border:1px;margin-left: 500px;"><h4>Bids</h4></div>
    <table class="table">
      <thead class="thead-light">
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Bid Amount</th>
              <th>Email</th>
              <th>Mobile</th>
          </tr>
      </thead>
      <tbody *ngIf="bids != null">
        <tr *ngFor="let seller of bidDetails.seller">
          <td>{{seller.FirstName}}</td>
          <td>{{seller.LastName}}</td>
          <td>{{seller.BidAMount}}</td>
          <td>{{seller.Email}}</td>
          <td>{{seller.Phone}}</td>
      </tr>
      </tbody>
      <tbody *ngIf="bids == null">
        <tr>
          <td colspan="5"><h4>No Bid Found</h4></td>
       </tr>
      </tbody>
    </table>
  </div>
</header> 
</div>